/*===BASE===*/
html, body {
    overflow-x: hidden!important;
}


/*===NAVBAR===*/

nav {
    box-shadow: 0 2px 2px 0 black;
}
a.navbar-brand img.d-inline-block {
    height: 5rem;
}

a.nav-link.action {
    color: #1db641!important;
}

a.nav-link.action:hover {
    color: rgb(83, 216, 83)!important;
}

/*===CAROUSEL===*/

#carousel {
    position: relative;
    box-shadow: 0 0 5px 2px black;
}

.carousel-item:before {
    content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
}

.carousel-caption {
    margin-bottom: 10%;
}

a.btn.btn-outline-info {
    color: white!important;
    border-color: white!important;
}

a.btn.btn-outline-info:hover {
    background-color: black!important;
    border-color: white!important;
}

a.btn.btn-success {
    background-color: #1db641!important;
}

a.btn.btn-success:hover {
    background-color: rgb(0, 128, 11)!important;
}

/*==ROW PARTICIPANTS==*/

#participants {
    display: block;
    position: relative;
    top: -105px;
}

.badge.bg-react {
    background-color: #1c9db2;
}

div.card {
    box-shadow: 1px 1px 1px 1px lightgray;
}

.card-text {
    font-size: 1.2vmax;
}

/*===ROW DATE===*/

#date {
    display: block;
    position: relative;
    top: -100px;
}

.row.date {
    box-shadow: 0px 2px 5px 3px lightgray;
}

.date-info {
    font-size: 1.1vmax;
    text-align: left;
}

/*===ROW FORM===*/

#form {
    display: block;
    position: relative;
}

.btn.btn-send {
    background-color: #96c93e;
}

.form-floating {
    position: relative;
    color:#80868f!important;
    font-size: 1vm;
}

#floatingTextBox {
    padding-top: 3vmax;
    font-size: 1.3vmax;
}

.form-floating > textarea.form-control {
    font-size: 0.9vmax;
}

.form-floating:nth-child(2) > label:nth-child(2) {
    font-size: 2vmax;
}

#commentHelpBlock {
    font-size: 0.7rem;
}

/*===FOOTER===*/
footer {
    background-image: linear-gradient(to right, #1a3644, #1c5372);
    box-shadow: 5px 5px 5px 5px black;
}

.btn.btn-outline-light, .btn.btn-outline-light:hover, :focus, :active {
    background-color: transparent!important;
    border: none!important;
    box-shadow: none!important;
}